<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
    <div class="row d-flex">
      <div class="col-lg-6">
        <div class="card1 pb-5">
          <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
            <img src="/assets/images/classroom_management.svg" class="image">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card2 card border-0 px-4 py-5">
          <div class="row px-3 mb-4">
            <div class="line"></div> <small class="or text-center">Sign in</small>
            <div class="line"></div>
          </div>
          <form #f="ngForm" (ngSubmit)="login(f.value)">
            <div *ngIf="invalidLogin" class="alert alert-danger">
              Incorrect email and password.
            </div>
            <div class="row px-3 form-group">
              <label class="mb-1" for="username" ><h6 class="mb-0 text-sm">Email Address</h6></label>
              <input required
                     email
                     ngModel
                     #username="ngModel"
                     class="mb-4" type="text" id="username" name="username" placeholder="Enter a valid email address">
              <div *ngIf="username.touched && !username.valid" class="alert alert-danger">
                Please a valid email.
              </div>
            </div>
            <div class="row px-3 form-group">
              <label class="mb-1" for="password"><h6 class="mb-0 text-sm">Password</h6></label>
              <input required
                     ngModel
                     #password="ngModel"
                     type="password" id="password" name="password" placeholder="Enter password">
              <div *ngIf="password.touched && !password.valid" class="alert alert-danger">
                Password should not be empty.
              </div>
            </div>
            <div class="row px-3 mb-4 form-group">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input id="rememberMe" type="checkbox" name="rememberMe" class="custom-control-input">
                <label for="rememberMe" class="custom-control-label text-sm">Remember me</label>
              </div>
              <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
            </div>
            <div class="row mb-3 px-3">
              <button [disabled]="!f.valid" id="submitBtn" type="submit" class="btn btn-primary text-center">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
