<div>
  <div *ngIf="totalPages == 0" class="alert alert-warning" role="alert">
    No Pending Booking requests.
  </div>
  <table *ngIf="totalPages > 0" class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Building</th>
      <th scope="col">Classroom</th>
      <th scope="col">Booking Date</th>
      <th scope="col">Time Range</th>
      <th scope="col">Supervisor</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of requestList;" >
        <td>{{item['site']['code'] + '/' + item['building']['code']}}</td>
        <td>{{item['classroom']['code']}}</td>
        <td> <time>{{item['bookingDate']}}</time> </td>
        <td> {{formatTime(item['fromTime'])}} to {{formatTime(item['toTime'])}} </td>
        <td> {{item['assignedTo']['firstName'] + ' ' + item['assignedTo']['lastName']}} </td>
        <td><button type="button" class="btn btn-warning" (click)="showCancelBookingRequest(modalContent, item)">Cancel</button></td>
      </tr>
    </tbody>
  </table>
  <footer *ngIf="totalPages > 1">
    <nav aria-label="...">
      <ul class="pagination justify-content-end">
        <li class="page-item" [class.disabled]="!hasPreviousPage">
          <a class="page-link" (click)="loadDataFromServer(pageId-1)" tabindex="-1">Previous</a>
        </li>

        <li class="page-item" *ngIf="pageId-2 > 0">
          <a class="page-link" (click)="loadDataFromServer(pageId-2)" >{{pageId-2}}</a>
        </li>
        <li class="page-item" *ngIf="pageId-1 > 0">
          <a class="page-link" (click)="loadDataFromServer(pageId-1)" >{{pageId-1}}</a>
        </li>

        <li class="page-item active">
          <a class="page-link" >{{pageId}}</a>
        </li>

        <li class="page-item" *ngIf="pageId+1 <= totalPages">
          <a class="page-link" (click)="loadDataFromServer(pageId+1)" >{{pageId+1}}</a>
        </li>

        <li class="page-item" *ngIf="pageId+2 <= totalPages">
          <a class="page-link" (click)="loadDataFromServer(pageId+2)" >{{pageId+2}}</a>
        </li>

        <li class="page-item" [class.disabled]="!hasNextPage">
          <a class="page-link" (click)="loadDataFromServer(pageId+1)">Next</a>
        </li>
      </ul>
    </nav>
  </footer>

  <ng-template #modalContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cancel Booking Request</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="modalBodyContainer">
        <article>
          <h5>Building</h5>
          <p>{{currentBookingRequest['site']['code'] + '/' + currentBookingRequest['building']['code']}}</p>
        </article>
        <article>
          <h5>Classroom</h5>
          <p>{{currentBookingRequest['classroom']['code']}}</p>
        </article>
        <article>
          <h5>Booking Date</h5>
          <p><time>{{currentBookingRequest['bookingDate']}}</time></p>
        </article>
        <article>
          <h5>Time Range</h5>
          <p>{{formatTime(currentBookingRequest['fromTime'])}} to {{formatTime(currentBookingRequest['toTime'])}}</p>
        </article>
        <article>
          <h5>Supervisor</h5>
          <p>{{currentBookingRequest['assignedTo']['firstName'] + ' ' + currentBookingRequest['assignedTo']['lastName']}}</p>
        </article>
      </div>
      <div id="buttonsContainer">
        <button id="confirmedBtn" class="btn btn-primary" (click)="modal.close('Click Confirm')">Confirm</button>
        <button class="btn btn-secondary" (click)="modal.close('Click Close')">Close</button>
      </div>
    </div>
  </ng-template>

</div>
