.headerContainer {
  padding-top: 3.375rem;
  padding-bottom: 2rem;
}

.row-template {
  clear: both;
  width: 95%;
  margin: 1rem auto 1rem auto;
}

.add-new-btn {
  float: right;
}

td {
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 800px) {

  .row-template {
    width: 80%;
  }

  .search-container {
    width: 50%;
    margin-left: 0;
    margin-right: auto;
  }
}
