<div class="container" id="mainContainer">

  <div *ngIf="!showCreateBookingRequestForm" class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"
       (click)="showCreateRequestForm()">
      <fa-icon [icon]="addBookingRequestIcon"></fa-icon>
      Create Booking Request
    </a>
  </div>

  <div *ngIf="showCreateBookingRequestForm; then formSection else dashboardSection"></div>
  <ng-template #formSection>
    <booking-request-creation-by-classroom
      (closeForm)="hideCreateRequestForm()"></booking-request-creation-by-classroom>
  </ng-template>
  <ng-template #dashboardSection>
    <div class="row">
      <!--  Pending Request card ==> Consider using a for loop here  -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2"
             [class.gray-background]="isPending()"
             (click)="pendingClick()">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Pending Requests (20)
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">15%</div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar"
                           style="width: 15%" aria-valuenow="15" aria-valuemin="0"
                           aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <fa-icon class="fas fa-calendar fa-2x"
                         [class.text-gray-300]="!isPending()"
                         [icon]="pendingBookingRequestIcon"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2"
             [class.gray-background]="isRejected()"
             (click)="rejectedClick()">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                  Rejected Requests (20)
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">15%</div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar"
                           style="width: 15%" aria-valuenow="15" aria-valuemin="0"
                           aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <fa-icon class="fas fa-calendar fa-2x"
                         [class.text-gray-300]="!isRejected()"
                         [icon]="pendingBookingRequestIcon"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2"
             [class.gray-background]="isCancelled()"
             (click)="cancelledClick()">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                  Cancelled Requests (20)
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">15%</div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar"
                           style="width: 15%" aria-valuenow="15" aria-valuemin="0"
                           aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <fa-icon class="fas fa-calendar fa-2x"
                         [class.text-gray-300]="!isCancelled()"
                         [icon]="pendingBookingRequestIcon"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2"
             [class.gray-background]="isApproved()"
             (click)="approvedClick()">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                  Approved Requests (20)
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">15%</div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar"
                           style="width: 15%" aria-valuenow="15" aria-valuemin="0"
                           aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <fa-icon class="fas fa-calendar fa-2x"
                         [class.text-gray-300]="!isApproved()"
                         [icon]="pendingBookingRequestIcon"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container [ngSwitch]="currentTab">
      <ng-container *ngSwitchCase="'approved'" [ngTemplateOutlet]="approvedTable"></ng-container>
      <ng-container *ngSwitchCase="'cancelled'" [ngTemplateOutlet]="cancelledTable"></ng-container>
      <ng-container *ngSwitchCase="'rejected'" [ngTemplateOutlet]="rejectedTable"></ng-container>
      <ng-container *ngSwitchCase="'pending'" [ngTemplateOutlet]="pendingTable"></ng-container>
    </ng-container>

    <ng-template #approvedTable>
      <approved-request-list></approved-request-list>
    </ng-template>
    <ng-template #cancelledTable>
      <cancelled-request-list></cancelled-request-list>
    </ng-template>
    <ng-template #rejectedTable>
      <rejected-request-list></rejected-request-list>
    </ng-template>
    <ng-template #pendingTable>
      <pending-request-list></pending-request-list>
    </ng-template>
  </ng-template>
</div>


