<div class="row">
  <div class="px-1 col-sm">
    <div class="card">
      <div class="card-header">
        Create Booking Request
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col form-group">
            <label for="site">University Site</label>
            <select class="form-control" id="site" name="site">
              <option selected>Site of Taiyuan</option>
              <option>Site of Yuci</option>
            </select>
          </div>

          <div class="col form-group">
            <label for="building">Building</label>
            <select class="form-control" id="building" name="building">
              <option selected>Building 001</option>
              <option>Building 002</option>
              <option>Building 003</option>
            </select>
          </div>

          <div class="col form-group">
            <label for="classroom">Classroom</label>
            <select class="form-control" id="classroom" name="classroom">
              <option selected>Classroom 001</option>
              <option>Classroom 002</option>
              <option>Classroom 003</option>
            </select>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


